@model FinalProject.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}

<h3>
    <em>Review</em> your cart:
</h3>

<div id="update-message">
</div>

<table class="table table-striped table-hover table-bordered">

    <tr>
        <th>
            Menu Item
        </th>
        <th>
            Price (each)
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>
    @foreach (var item in
                        Model.CartItems)
    {
        <tr id="row-@item.RecordId">
            <td>
                @item.MenuItem.Name
            </td>
            <td>
                @item.MenuItem.Price
            </td>
            <td id="item-count-@item.RecordId">
                @item.Count
            </td>
            <td>

                <a href="#" class="RemoveLink"
                   data-id="@item.RecordId">
                    Remove
                    from cart
                </a>

            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td></td>
        <td></td>
        <td id="cart-total">
            <strong>Total: $@Model.CartTotal</strong>
        </td>

    </tr>
</table>

<p class="button">
    @Html.ActionLink("Checkout", "AddressAndPayment", "Checkout", null, new { @class = "btn btn-default" })
</p>